@model ManagmentCinema.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSoortie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSoortie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Langue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Langue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Realisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Realisateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a> |
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.IdF">Edit</a>
</div>
